<div class="card mb-3 m-2" *ngFor="let product of cartSrvObject.currentItems">
  <div class="row g-0">
    <div class="col-md-4">
      <img [src]="product.imageUrl" class="img-fluid rounded-start" alt="..." />
    </div>
    <div class="col-md-6">
      <div class="card-body">
        <h5 class="card-title">{{ product.title }}</h5>
        <p class="card-text">
          {{ product.description }}
        </p>
        <p class="card-text">
          <small class="text-body-secondary">⟨₹⟩ .{{ product.price }}</small>
        </p>
      </div>
    </div>

    <div class="col-md-2">
      <button class="btn btn-danger">
        <i class="fa-solid fa-trash"></i>
      </button>
    </div>
  </div>
</div>
